---
import HeroImage from "../assets/images/fast-loading.png"
---

    <section class="w-5/6 mx-auto py-24" >
        <div class="flex justify-between sm:flex-row flex-col items-center gap-y-8">
          <div class="">
            <div class="">
              <h1 class="text-5xl">Unlock Your <b>Website's Potential</b></h1>
              <h1 class="text-4xl">with Our <b>Expert SEO</b> Services</h1>
              <p class="mt-2 text-gray-800">Are you struggling to reach the top of search engine results? Do you want to increase your online visibility and drive more organic traffic to your website? Look no further! DGTLmart is your trusted partner for comprehensive SEO services.</p>
            </div>
            <div class="flex flex-row gap-x-4">
              <a class="mt-4 px-6 py-2.5 bg-primary rounded-md text-white" href="">Join us</a>
              <a class="mt-4 px-6 py-2.5 border-2 border-primary text-primary rounded-md " href="">Our Services</a>
            </div>
          </div>
          <div class="h-full w-full" >
              <img class="h-full w-full rounded-xl" src="https://cfw.rabbitloader.xyz/eyJjIjp0cnVlLCJoIjoicmFiYml0bG9hZGVyLmNvbSIsInYiOjI5ODc1NjE4OTB9/assets/img/bg-img/speed-up-website.png" alt="">
          </div>
        </div>
      </section>
