---

---

<div class="py-24">
  <section class="bg-cover w-5/6 mx-auto text-center py-16 rounded-xl"  style="background-image: url('https://static.vecteezy.com/system/resources/thumbnails/006/415/042/small/abstract-blurred-color-gradient-background-free-vector.jpg');">
    <div class="mx-auto max-w-screen-xl">
      <div class="max-w-screen-md mx-auto">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
          Why<b class="text-primary"> SEO</b> matters?
        </h2>
        <p class="mb-8 font-light sm:text-xl text-gray-600">
          Search Engine Optimization (SEO) is the cornerstone of digital
          marketing. With over [X%] of online experiences starting with a search
          engine, ranking high on search results is crucial for success. Whether
          you're a small business or a large corporation, SEO can significantly
          impact your online visibility and revenue.
        </p>
      </div>
    </div>
  </section>
</div>
